@import '../../index.scss';

.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.4) 50%);

    &.scrolled {
        background-color: var(--main-color);
    }

    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .navbarMainLinks:hover {
            color: #dadada;
            transition: color 0.2s ease;
        }

        .leftSection {
            display: flex;
            align-items: center;

            img {
                height: 25px;
                margin-right: 40px;

                @include tablet {
                    display: none;
                }
            }

            span {
                margin-right: 20px;
                cursor: pointer;

                &.navbarMainLinks {
                    @include tablet {
                        display: block;
                    }
                }

                &.selected {
                    font-weight: 600;
                    font-size: 17px;
                }
            }

            .navLinks {
                @include tablet {
                    display: none;
                }
            }

            .selectForm {
                display: none;

                @include tablet {
                    display: flex;
                }
            }

            .selectLabel, svg, .selectShown {
                color: white !important;
            }
        }

        .rightSection {
            display: flex;
            align-items: center;

            .icon {
                margin: 0px 15px;
                cursor: pointer;
            }

            .searchBar {
                display: block;
                position: absolute;
                top: 60px;
                right: 51px;
                
                @include mobile {
                    width: 95vw;
                    margin: auto;
                    text-align: center;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .MuiAutocomplete-root {
                
                input {
                    color: black;
                }
            }

            .logout {
                background-color: #E50914;
                cursor: pointer;
                border-radius: 6px;
                padding: 7px;

                &:hover {
                    border: 2px solid white;
                }
            }
        }
    }
}